<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit product</title>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="stylesheet" th:href="@{/styles/form.css}">
    </head>
    <body>

        <h2>Editar</h2>
        <form  th:action="@{/admin/products/save-product}" method="post"  enctype="multipart/form-data">
            <input type="hidden" name="id" th:value="${product.id}">

            <label for="name">Nombre</label>
            <input 
                type="text" 
                th:value="${product.name}" 
                id="name" 
                name="name" 
                placeholder="Ingrese el nombre del producto" 
                required 
                autocomplete="off"
                />
            <br>

            <label for="description">Descripción</label>
            <textarea
                th:text="${product.description}" 
                id="description" 
                name="description" 
                placeholder="Ingrese la descripcion del producto" 
                required 
                autocomplete="off"
                > 
            </textarea>
            <br>

            <label class="control-label col-sm-2" for="price">Precio:</label>
            <input 
                type="number" 
                th:value="${product.price}" 
                step="any"  
                id="price" 
                name="price" 
                placeholder="Ingrese el precio del producto"
                required 
                autocomplete="off"
                />
            <br>

            <label for="img">Imagen</label>
            <input type="file" class="form-control-file" id="img" name="img">
            <br>

            <button type="submit"> Guardar</button>

        </form>


</html>