<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inicio">
    <link rel="stylesheet" th:href="@{/styles/home.css}">

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <title>Inicio</title>
</head>

<body>

    <header>
        <a th:href="@{/home}">Inicio</a>
    </header>

    <main>
        <h1>¡Bienvenido a tu tienda en línea!</h1>


        <div class="product-container">
            <div class="product-card" th:each="product: ${products}">
                <img class="card-img-top" th:src="@{images/{img} (img = ${product.image})}" alt="alt" />
                <span class="text">
                    <h2 class="title" th:text="${product.name}">name</h2>

                    <p class="price">
                        S/.
                        <span th:text="${product.price}">price</span>
                    </p>

                    <p class="description" th:text="${product.description}">description</p>

                    <a class="button" th:href="@{/product-detail/{productid} (productid = ${product.id})}"
                        class="btn btn-success">Ver
                        Producto</a>
                </span>
            </div>
        </div>

    </main>


    <footer>
        <p>&copy; Strdst 2023</p>
    </footer>

</body>

</html>