<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{/user/template_user::head}"></head>
    <body>
        <div th:insert="~{/user/template_user::header}"></div>
        <div class="container">
            <header class="jumbotron my-4">
                <h1 class="display-3">¡Bienvenido a tu tienda en linea!</h1>
            </header>

            <div class="row text-center">
                <div class="col-lg-3 col-md-6 mb-4" th:each="product: ${products}">
                    <div class="card h-100">
                        <img th:src="@{images/{image} (img = ${product.image})}" alt="alt"/>
                        <div class="card-body">
                            <p class="card-text" th:text="${product.name}">Nombre del producto</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-success" href="#">Ver producto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:insert="~{/user/template_user::footer}"></div>
    </body>
    <style>
        .body {
            position: relative;
        }

        .footer {
            position: absolute;
            bottom: 0;
            height: 60px;
            width: 100%;
        }
    </style>
</html>
